RewriteOptions inherit
RewriteEngine on

# Set default homepage files
DirectoryIndex index.html index.php index.htm

# Disable directory listings
Options -Indexes

# Disable caching for sensitive assets
Header set Cache-Control "no-cache, no-store, must-revalidate"

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^osagold$ "https\:\/\/greatowlmarketing\.com\/" [R=301,L]

# ✅ Content Security Policy
<IfModule mod_headers.c>
  Header set Content-Security-Policy "
    default-src 'self';
    script-src 'self' 'unsafe-inline' 'unsafe-eval' https://app.getresponse.com https://an.gr-wcon.com;
    connect-src 'self' https://app.getresponse.com https://an.gr-wcon.com;
    img-src 'self' data: https://app.getresponse.com https://an.gr-wcon.com;
    style-src 'self' 'unsafe-inline' https://app.getresponse.com;
    frame-src https://app.getresponse.com https://an.gr-wcon.com;
  "
</IfModule>

<IfModule mod_headers.c>
  Header set Content-Security-Policy "default-src * 'unsafe-inline' 'unsafe-eval' data:;"
</IfModule>

